classification/*/__pycache__/
classification/*/*/__pycache__/
classification/*.csv
detection/*/__pycache__/
detection/*/*/__pycache__/
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
.idea/
*/.idea/
*/*/runs/
detection/*/show_images/*
segmentation/wandb/
reid/deep-person-reid/reid-data/*/*/
*/*.log
*/*/*.log
*/*/*/*.log
py_other/py/*.txt
py_other/py/*.xlsx
py_other/py/*.xls