torch_classification/*/__pycache__/
torch_classification/*/*/__pycache__/
torch_detection/*/__pycache__/
torch_detection/*/*/__pycache__/
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
.idea/
*/.idea/
*/*/runs/
torch_detection/*/show_images/*
torch_reID/deep-person-reid/reid-data/*/*/
*/*.log
*/*/*.log
*/*/*/*.log
py_other/py/*.txt
py_other/py/*.xlsx
py_other/py/*.xls